html, body, h2, input, textarea, table, tr, td {
	font-size: 14px;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-family: 'Microsoft YaHei';
}

body {
	background: url(../images/bg-login.gif);
}

#wrapper {
	width: 902px;
	margin: 0px auto;
}

#left {
	background: url(../images/login-left.png) no-repeat;
	height: 420px;
	margin-top: 101px;
	width: 540px;
	float: left;
}

#right {
	background-color: white;
	width: 250px;
	height: 320px;
	float: left;
	margin: 120px 10px 0 10px;
	border: 1px solid #CCC;
	border-top-color: #DADADA;
	border-radius: 4px;
	box-shadow: 1px 1px 10px #bcbcbc;
	color: #464646;
	padding: 20px;
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}


.loginrow {
	margin: 15px 0;
}

.loginrow label {
	padding: 10px 0;
}

.inputarea {
	margin: 10px 0;
}

.form-actions {
	margin-top: 18px;
	margin-bottom: 18px;
}

#username, #password {
	width: 218px;
	-moz-transition: -moz-box-shadow 0.2s ease-in-out 0s;
	background-color: #FAFAFA;
	border: 1px solid #AAC5CD;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 2px 1px #E1E1E1 inset;
	font-size: 16px;
	outline: medium none;
	padding: 5px 10px;
	resize: none;
	color: black;
}

input, textarea{
	display: inline-block;
	width: auto;
	padding: 7px 25px;
	margin-bottom: 9px;
	font-size: 13px;
	line-height: 18px;
	color: white;
	border: 1px solid #CCC;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.btn-primary {
	background-color: #2C53D7;
	background-image: -moz-linear-gradient(top, #049CDB, #0064CD);
	background-image: -ms-linear-gradient(top, #049CDB, #0064CD);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#049CDB), to(#0064CD));
	background-image: -webkit-linear-gradient(top, #049CDB, #0064CD);
	background-image: -o-linear-gradient(top, #049CDB, #0064CD);
	background-image: linear-gradient(top, #049CDB, #0064CD);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049CDB', endColorstr='#0064CD', GradientType=0);
	border-color: #0064CD #0064CD #003F81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-primary:hover {
	border: 1px solid black;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

#footer {
	text-align: center;
	color: gray;
	font-size: 12px;
	clear: both;
}