<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="geekinsidekmsEntities" connectionString="metadata=res://*/GeekInsideEF.csdl|res://*/GeekInsideEF.ssdl|res://*/GeekInsideEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=geekinsidekms;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>