<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="geekinsidekmsEntities" connectionString="metadata=res://*/GeekInsideEF.csdl|res://*/GeekInsideEF.ssdl|res://*/GeekInsideEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=geekinsidekms;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>